<div class="row justify-content-between">
    <div class="card" style="width: 18rem;">
        <div class="card-header bg-primary">
            <h1>Pro 50%</h1>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-header bg-danger">
            <h1>Cost +5</h1>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-header bg-info">
            <h1>MM 67l</h1>
        </div>
    </div>
</div>

