@{
    ViewData["Title"] = "Cadastro";
}
<h1>@ViewData["Title"]</h1>

<fieldset>
    <legend>Cadastre-de no sistema</legend>
    <div class="row">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" name="nome" id="nome" class="form-control">
        </div>
    </div>
</fieldset>
