@model RevisaoProjetoNoticias.Web.Models.DTO.ImageFieldNews
<h1>Create</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ImagePost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="idNews" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="imageNews" class="control-label"></label>
                <input asp-for="imageNews" class="form-control" type="file" />
                <span asp-validation-for="imageNews" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
