<div class="row">
   <h1 class="text-danger">Lista de Cards Yu-Gi-Oh</h1>
</div>

<div class="row" id="content-list"></div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(()=>{
            $.ajax({
                url: '@Url.Action("LoadListCards")',
                dataType: 'html',
                success: (htmlPartialView) => {
                    $('#content-list').html(htmlPartialView);
                }
            });
        })  ;  
    </script>
}